//------------------------------------------------------------------------------
// Package: {{name}}_seq_pkg
// Description: Package containing all UVM sequences
//------------------------------------------------------------------------------

package {{name}}_seq_pkg;

    import uvm_pkg::*;
    `include "uvm_macros.svh"

    import {{ package_name }}::*;
    import {{ trans_pkg_name }}::*;


    // Include your sequence class files
    {% for seq in seqs %}
    `include "{{seq}}.sv"
    {% endfor %}

endpackage : {{name}}_seq_pkg