//------------------------------------------------------------------------------
// Class: {{ agent.name }}
// Description: Agent container for {{ agent.name }}
// Mode: {%if agent.mode.value == "active"%}Active{%else%}Passive{%endif%} 
//------------------------------------------------------------------------------

class {{ agent.name }} extends uvm_agent;
    `uvm_component_utils({{ agent.name }})

    // Components
    {% for part in agent.parts %}
    {{ agent.name }}_{{ part }} m_{{ agent.name }}_{{ part }};
    {% endfor %}

    // Analysis Port (Pass-through from Monitor)
    uvm_analysis_port #({{ trans_type }}) analysis_port;

    // Constructor
    function new(string name, uvm_component parent);
        super.new(name, parent);
    endfunction

    // Build Phase
    function void build_phase(uvm_phase phase);
        super.build_phase(phase);

        {% for part in agent.parts %}
        m_{{ agent.name }}_{{ part }} = {{ agent.name }}_{{ part }}::type_id::create("m_{{ agent.name }}_{{ part }}", this);
        {% endfor %}
    endfunction

    // Connect Phase
    function void connect_phase(uvm_phase phase);
        virtual {{ if_name }} vif;

        super.connect_phase(phase);

        // Retrieve VIF from Config DB to pass to sub-components
        if (!uvm_config_db#(virtual {{ if_name }})::get(this, "", "vif", vif)) begin
            `uvm_fatal("NOVIF", "Virtual interface not found in Agent config_db")
        end

        // Connect Monitor VIF
        m_{{ agent.name }}_monitor.vif = vif;
        
        // Connect Analysis Port
        analysis_port = m_{{ agent.name }}_monitor.analysis_port;

        {% if agent.mode.value == "active" %}
        // Connect Driver VIF
        m_{{ agent.name }}_driver.vif = vif;
        
        // Connect Driver and Sequencer
        m_{{ agent.name }}_driver.seq_item_port.connect(m_{{ agent.name }}_sequencer.seq_item_export);
        {% endif %}
    endfunction

endclass : {{ agent.name }}