//------------------------------------------------------------------------------
// Package: {{ agent.name }}_pkg
// Description: Package for {{ agent.name }} components
//------------------------------------------------------------------------------

package {{ agent.name }}_pkg;

    import uvm_pkg::*;
    `include "uvm_macros.svh"

    import {{ package_name }}::*;
    import {{ trans_pkg_name }}::*;

    //--------------------------------------------------------------------------
    // Class Definitions
    //--------------------------------------------------------------------------

    // Components
    {% for part in parts %}
    `include "{{ agent.name }}_{{ part }}.sv"
    {% endfor %}

    // Agent class
    `include "{{ agent.name }}.sv"

endpackage : {{ agent.name }}_pkg
